html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw; /* Usar unidades de vista para mantener el tamaño relativo */
    height: 100vh; /* Altura completa de la ventana de visualización */
    padding: 2%; /* Ajustar padding según necesidad */
    background-color: #081b36ee;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Oculta la barra de desplazamiento en el header */
}

header img {
    width: 100%; /* Ajustar imagen al ancho del header */
    height: auto; /* Mantener proporción */
    max-width: 150px; /* Tamaño máximo para evitar que la imagen sea demasiado grande */
    border-radius: 50%; /* Si deseas bordes redondeados para la imagen */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos de navegación */
    padding-top: 20px; /* Espacio superior para separar la imagen */
}

nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-top: 20px;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
}

li a:hover {
    color: #00F9FF;
}

main {
    margin-left: 15vw; /* Ajustar margen para el ancho del header */
    width: 85vw; /* Ajustar el ancho restante de la ventana */
    text-align: left;
    background-color: #0a192f;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    overflow: auto; /* Permite el desplazamiento del contenido */
}

main h1, main h2, main p {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

main p {
    color: rgba(245, 245, 245, 0.664);
}

h1 span {
    font-size: 12mm; 
}

h2 {
    font-size: 50px;
    width: 80%;
}

.presetacion {
    max-width: 80%;
    margin: 0;
}

#aboutme, #experience, #projects, #skills {
    margin-bottom: 15%;
    margin-top: 15%;
    border-top: 5px solid #081b36ee;
}

.icon {
    margin-left: 15%;
}

.icon a {
    display: inline-block;
    margin: 0 10px; 
}

.icon i {
    font-size: 24px;
}

.boton-decorado {
    display: inline-block;
    background-color: #00F9FF;
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    margin-left: 15%;
}

.boton {
    text-decoration: none;
    color: #081b36ee;
}

.botonCV {
    display: inline-block;
    background-color: #00F9FF;
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    margin-left: 15%;
    margin-top: 3%;
}

.dorado {
    color: #CBBF0B;
}

.hello {
    color: #00F9FF;
    font-family: 'Source Code Pro', monospace;
    font-size: 10mm; 
}

badge.OpenWork {
    display: inline-block;
    background-color: #2f2b7978;
    border-radius: 5px;
    text-align: center;
    border: none;
    padding: 5px 8px;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 8px;
    color: #0a192f;
}

.proyectos {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.proyecto {
    background-color: #081b36ee;
    border: 2px solid #00F9FF; 
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 10px; 
    transition: transform 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 260px; 
    position: relative; 
}

.proyecto img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0; 
    margin-bottom: 10px; 
}

.proyecto h3 {
    font-size: 18px;
    margin-top: 10px; 
    color: #e0e0e0;
}

.proyecto p {
    font-size: 14px;
    color: rgba(245, 245, 245, 0.664); 
    margin-top: 10px;
    padding: 0 10px;
}

.proyecto:hover {
    transform: scale(1.05); 
    border-color: #CBBF0B; 
}

@media (min-width: 1201px) {
    .proyectos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .proyecto {
        width: calc(33.333% - 20px); 
        margin: 10px; 
        box-sizing: border-box;
    }

    .proyecto img {
        max-height: 120px;
    }

    .proyecto h3 {
        font-size: 18px;
        margin-top: 10px;
    }

    .proyecto p {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) { 
    .proyectos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .proyecto {
        width: calc(50% - 20px); 
        margin: 10px; 
        box-sizing: border-box;
    }

    .proyecto img {
        max-height: 120px;
    }

    .proyecto h3 {
        font-size: 18px;
        margin-top: 10px;
    }

    .proyecto p {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media (max-width: 767px) { 
    .proyectos {
        flex-direction: column;
        align-items: center;
    }

    .proyecto {
        width: 60%; 
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .proyecto img {
        max-height: 120px;
    }

    .proyecto h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .proyecto p {
        font-size: 15px;
        margin-top: 5px;
    }
}

#skills {
    margin-top: 15%;
    margin-bottom: 15%;
}

.skills-icons {
    display: flex; /* Alinea las imágenes en una fila */
    justify-content: flex-start; /* Alinea todo el contenido hacia la izquierda */
    margin-left: 10%; /* Aplica el margen al contenedor completo */
    gap: 5px; /* Controla el espacio entre las imágenes */
}

#skills img {
    display: inline-block;
    height: 30px; /* Mantén un tamaño constante para las imágenes */
}
